@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*
{
    margin:0;
    padding:0;
    text-decoration: none;
   
}
body{
    font-family:'Poppins', sans-serif;
}
header
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
  left:0;
  right:0;
  margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    @media (min-width:1440px)
    {
        justify-content: space-around;
    }
}
.logo-container
{
 display:flex;
 flex-direction: row; 
 justify-content: flex-start;
 align-items: center;
 gap:10px;
 @media (min-width:1440px)
 {
    margin-right: 50px;
 }


}
.logo-container span{
    font-size: 24px;
   
}
header button{
     font-size: 14px;
     padding:5px 30px;
     background-color: #171A31;
     color:#FFFFFF;
     border-radius:8px ;
     -webkit-border-radius:8px ;
     -moz-border-radius:8px ;
     -ms-border-radius:8px ;
     -o-border-radius:8px ;
     font-family:'Poppins', sans-serif ;
     @media (min-width:1440px)
     {
         margin-left: 180px;
     }
} 
section
{
    width: 900px;
    height: 100%;
    display:flex;
    flex-direction: row;
    margin: 100px auto;
  
}
section .container{
    box-sizing: border-box;
    background-color: #F8F8FA;
    width: 50%;
}
section .content
{
    padding: 30px;
}

.content h1{

    font-size: 55px;
    line-height: 1.2em;
    margin: 10px;
    color:rgba(23, 26, 49, 1);
    font-family: 'Poppins','sans-serif';
}
.content p{
    font-size: 16px;
    margin: 20px 10px 30px;
    color: rgba(23,26,49,0.7);
}
button{
    padding: 15px 60px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #171A31;
}
section .image
{
    display: flex; 
width:50%;
height: 100%;

}
.image img{
    width: 100%;
    height: 100%;

}
@media (max-width:450px)
{
    body {
  max-width: 450px;
  height: 700px;
    }
   header
   {
   display: flex;
  flex-direction: row;
    margin:10px ;
   }
   section{
 display:flex;
 flex-direction: column;
 width:80%;
   }

   section .image{
    order:1;
    width:100%;
   }
  section  .container 
   {
    width:100%;
    order:2;
   }
  section .content{
    width:100%;
    padding:0px;
  }
   .content h1 {
    font-size: 37px;
    padding: 5px;
}

button
{
    font-size: 14px;
    padding: 10px 30px;
    margin: 15px;
}
}